<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>随访家园</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../../css/mui.min.css" rel="stylesheet"/>
	    <link href="../../css/iconfont.css" rel="stylesheet"/>
	    <link href="../../css/style.css" rel="stylesheet"/>
		<style>
			.mui-card .mui-control-content {
				padding: 10px;
			}
		</style>
	</head>
	<body>
		<div class="mui-content margin-top0">
			<div class="call-notice">
				<span><i class="mui-icon iconfont icon-soundplus color-orange"></i><strong>评价   </strong>| </span><span>感谢张一山</span>
			</div>
			<div class="itab-box">
				<div class="itab-box-title">
					<div id="segmentedControl" class="mui-segmented-control">
						<a class="mui-control-item mui-active" href="#item1">实时咨询</a>
						<a class="mui-control-item" href="#item2">非实时咨询</a>
					 </div>
				</div>
				<div class="index-tab">
					<div id="item1" class="mui-control-content mui-active">
						<div class="mui-card">
							<ul class="mui-table-view">
								<li class="mui-table-view-cell mui-media">
									<a class="mui-navigate-right" id="c_001">
										<div class="mui-row margin-bottom4">
											<div class="mui-col-xs-4"><i class="mui-icon iconfont icon-studyuser color-blue"></i>小东</div>
        									<div class="mui-col-xs-8"><i class="mui-icon iconfont icon-shizhong color-orange"></i>2015-05-12<span class="mui-badge mui-badge-primary my-badge">第1位</span></div>
											<div class="mui-col-xs-12"><i class="mui-icon iconfont icon-yuyin color-yellow"></i>语音文字</div>
										</div>
									</a>
								</li>
								<div class="exreport">
									<span class="mui-badge mui-badge-primary padding-8" >诊前报告</span>
								</div>
							</ul>	
						</div>
						<div class="mui-card">
							<ul class="mui-table-view">
								<li class="mui-table-view-cell mui-media">
									<a class="mui-navigate-right"  id="c_002">
										<div class="mui-row margin-bottom4">
											<div class="mui-col-xs-4"><i class="mui-icon iconfont icon-studyuser color-blue"></i>小东</div>
        									<div class="mui-col-xs-8"><i class="mui-icon iconfont icon-shizhong color-orange"></i>2015-05-12<span class="mui-badge mui-badge-primary my-badge">第1位</span></div>
											<div class="mui-col-xs-12"><i class="mui-icon iconfont icon-kefu color-qing"></i>网络电话</div>
										</div>
									</a>
								</li>
								<div class="exreport">
									<span class="mui-badge mui-badge-primary padding-8" >诊前报告</span>
								</div>
							</ul>	
						</div>
						<div class="mui-card">
							<ul class="mui-table-view">
								<li class="mui-table-view-cell mui-media">
									<a class="mui-navigate-right"  id="c_003">
										<div class="mui-row margin-bottom4">
											<div class="mui-col-xs-4"><i class="mui-icon iconfont icon-studyuser color-blue"></i>小东</div>
        									<div class="mui-col-xs-8"><i class="mui-icon iconfont icon-shizhong color-orange"></i>2015-05-12<span class="mui-badge mui-badge-primary my-badge">第1位</span></div>
											<div class="mui-col-xs-12"><i class="mui-icon iconfont icon-medicine color-qing"></i>用药建议</div>
										</div>
									</a>
								</li>
								<div class="exreport">
									<span class="mui-badge mui-badge-primary padding-8" >诊前报告</span>
								</div>
							</ul>	
						</div>

					</div>
					<div id="item2" class="mui-control-content">
						<div class="mui-card">
							<ul class="mui-table-view">
								<li class="mui-table-view-cell mui-media">
									<a class="mui-navigate-right" id="c_100">
										<div class="mui-row border-box">
									        <div class="mui-col-xs-6"><i class="mui-icon iconfont icon-studyuser color-blue"></i>刘明</div>
									        <div class="mui-col-xs-6"><i class="mui-icon iconfont icon-shizhong color-orange"></i>2015-05-12</div>
									    </div>
									    <div class="exreport">
											张医生你好，阿斯顿发过来看见是大法官
										</div>
									</a>
								</li>
							</ul>	
						</div>
						<div class="mui-card">
							<ul class="mui-table-view">
								<li class="mui-table-view-cell mui-media">
									<a class="mui-navigate-right" id="c_101">
										<div class="mui-row border-box">
									        <div class="mui-col-xs-6"><i class="mui-icon iconfont icon-studyuser color-blue"></i>刘明</div>
									        <div class="mui-col-xs-6"><i class="mui-icon iconfont icon-shizhong color-orange"></i>2015-05-12</div>
									    </div>
									    <div class="exreport">
											张医生你好，阿斯顿发过来看见是大法官
										</div>
									</a>
								</li>
							</ul>	
						</div>
						<div class="mui-card">
							<ul class="mui-table-view">
								<li class="mui-table-view-cell mui-media">
									<a class="mui-navigate-right" id="c_102">
										<div class="mui-row border-box">
									        <div class="mui-col-xs-6"><i class="mui-icon iconfont icon-studyuser color-blue"></i>刘明</div>
									        <div class="mui-col-xs-6"><i class="mui-icon iconfont icon-shizhong color-orange"></i>2015-05-12</div>
									    </div>
									    <div class="exreport">
											张医生你好，阿斯顿发过来看见是大法官
										</div>
									</a>
								</li>
							</ul>	
						</div>
					</div>
				</div>
			</div>
			<ul class="mui-table-view mui-grid-view mui-grid-9" style="background: #FFFFFF; border: none;">
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
		                    <span class="call-sprite call-sprite-1"></span>
		                    <div class="mui-media-body">咨询管理</div></a></li>
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#assistant">
		                    <span class="call-sprite call-sprite-2"></span>
		                    <div class="mui-media-body">我的助理</div></a></li>
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
		                    <span class="call-sprite call-sprite-3"></span>
		                    <div class="mui-media-body">加号提醒</div></a></li>
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
		                    <span class="call-sprite call-sprite-4"></span>
		                    <div class="mui-media-body">活动中心</div></a></li>
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
		                    <span class="call-sprite call-sprite-5"></span>
		                    <div class="mui-media-body">随访方案</div></a></li>
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
		                    <span class="call-sprite call-sprite-6"></span>
		                    <div class="mui-media-body">记录中心</div></a></li>
		          
		        </ul> 
		</div>
		<div id="assistant" class="mui-popover mui-popover-action mui-popover-bottom">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a href="#">让医生助理回复电话</a>
				</li>
				<li class="mui-table-view-cell">
					<a  id="dialBtn">让医生助理拨打电话</a>
				</li>
				<li class="mui-table-view-cell">
					<a href="#">给医生助理留言</a>
				</li>
			</ul>
			<!--<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a href="#picture"><b>取消</b></a>
				</li>
			</ul>-->
		</div>
		<script src="../../js/mui.min.js"></script>
		<script>
			mui.init({
				preloadPages:[{
				    id:'patient.html',
				    url:'patient.html'           
				  }
				]
			});
			mui.plusReady(function(){
	      		var patientinfoPage = null;
				//添加列表项的点击事件
				mui('.index-tab').on('tap', '.mui-card li>a', function(e) {
				  var id = this.getAttribute('id');
				 // alert(id)
				 //console.log(id);
				  //获得详情页面
				  if(!patientinfoPage){
				    patientinfoPage = plus.webview.getWebviewById('patient.html');
				  }
				  //触发详情页面的patientinfoId事件
				  mui.fire(patientinfoPage,'patientinfoId',{
				    id:id
				  });
				//打开详情页面          
				  mui.openWindow({
				    id:'patient.html'
				  });
				  
				});
	      	});
			mui('body').on('shown', '.mui-popover', function(e) {
				//console.log('shown', e.detail.id);//detail为当前popover元素
			});
			mui('body').on('hidden', '.mui-popover', function(e) {
				//console.log('hidden', e.detail.id);//detail为当前popover元素
			});
			//var info = document.getElementById("info");
			mui('body').on('tap', '.mui-popover-action li>a', function() {
				var a = this,parent;
				//根据点击按钮，反推当前是哪个actionsheet
				for (parent = a.parentNode; parent != document.body; parent = parent.parentNode) {
					if (parent.classList.contains('mui-popover-action')) {
						break;
					}
				}
				console.log(parent.id)
				//关闭actionsheet
				mui('#' + parent.id).popover('toggle');
				//info.innerHTML = "你刚点击了\"" + a.innerHTML + "\"按钮";
			});
			document.getElementById("dialBtn").addEventListener('tap', function() {
				mui.alert( '医生助理会在xxxx回复您的电话，请保持电话畅通！', function() {
					//info.innerText = '你刚关闭了警告框';
				});
			});
		</script>
	</body>
</html>