<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../../css/mui.min.css" rel="stylesheet"/>
    	<link href="../../css/iconfont.css" rel="stylesheet"/>
    	<link href="../../css/style.css" rel="stylesheet"/>  
    	<style>
    		.mui-card{background-color: #f8f8f8; margin-top: 10px;}
    		.mui-row{ padding: 8px 0;border-bottom: 1px solid #DDDDDD;}
    		.mui-row:last-child{ border-bottom: none;}
    		.mui-row .mui-col-xs-2{ text-align: right; color: #888888;} 
    	</style>
	</head>
	<body>
		<div id="cdrugs_uprefresh">
			<div  class="mui-scroll" style="background: #FFFFFF; padding: 14px 0; border-top: 1px solid #eee;">
				<div class="mui-input-row mui-search">
					<input type="search" class="mui-input-clear" placeholder="搜索">
				</div>
				<div class="mui-table-view1">
				<div class="mui-card">
					<div class="mui-row">
						<div class="mui-col-xs-2">药品名：</div>
						<div class="mui-col-xs-4">录播定</div>
						<div class="mui-col-xs-2">通用名：</div>
						<div class="mui-col-xs-4">是大法官</div>
					</div>
					<div class="mui-row">
						<div class="mui-col-xs-2">规格：</div>
						<div class="mui-col-xs-4">7mg*6</div>
						<div class="mui-col-xs-2">厂家：</div>
						<div class="mui-col-xs-4">白云山制药</div>
					</div>
					<div class="mui-row">
						<div class="mui-col-xs-11 text-right"><span class="mui-badge mui-badge-primary padding-8">添加</span></div>
						<div class="mui-col-xs-1 text-right"></div>
					</div>
				</div>
				<div class="mui-card">
					<div class="mui-row">
						<div class="mui-col-xs-2">药品名：</div>
						<div class="mui-col-xs-4">录播定</div>
						<div class="mui-col-xs-2">通用名：</div>
						<div class="mui-col-xs-4">是大法官</div>
					</div>
					<div class="mui-row">
						<div class="mui-col-xs-2">规格：</div>
						<div class="mui-col-xs-4">7mg*6</div>
						<div class="mui-col-xs-2">厂家：</div>
						<div class="mui-col-xs-4">白云山制药</div>
					</div>
					<div class="mui-row">
						<div class="mui-col-xs-11 text-right"><span class="mui-badge mui-badge-primary padding-8">添加</span></div>
						<div class="mui-col-xs-1 text-right"></div>
					</div>
				</div>
				<div class="mui-card">
					<div class="mui-row">
						<div class="mui-col-xs-2">药品名：</div>
						<div class="mui-col-xs-4">录播定</div>
						<div class="mui-col-xs-2">通用名：</div>
						<div class="mui-col-xs-4">是大法官</div>
					</div>
					<div class="mui-row">
						<div class="mui-col-xs-2">规格：</div>
						<div class="mui-col-xs-4">7mg*6</div>
						<div class="mui-col-xs-2">厂家：</div>
						<div class="mui-col-xs-4">白云山制药</div>
					</div>
					<div class="mui-row">
						<div class="mui-col-xs-11 text-right"><span class="mui-badge mui-badge-primary padding-8">添加</span></div>
						<div class="mui-col-xs-1 text-right"></div>
					</div>
				</div>
				<div class="mui-card">
					<div class="mui-row">
						<div class="mui-col-xs-2">药品名：</div>
						<div class="mui-col-xs-4">录播定</div>
						<div class="mui-col-xs-2">通用名：</div>
						<div class="mui-col-xs-4">是大法官</div>
					</div>
					<div class="mui-row">
						<div class="mui-col-xs-2">规格：</div>
						<div class="mui-col-xs-4">7mg*6</div>
						<div class="mui-col-xs-2">厂家：</div>
						<div class="mui-col-xs-4">白云山制药</div>
					</div>
					<div class="mui-row">
						<div class="mui-col-xs-11 text-right"><span class="mui-badge mui-badge-primary padding-8">添加</span></div>
						<div class="mui-col-xs-1 text-right"></div>
					</div>
				</div>
 				</div>
			</div>
		</div>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script>
		mui.init({
				swipeBack: false,
				pullRefresh: {
					container: '#cdrugs_uprefresh',
					down: {
						contentrefresh: '下拉刷新...',
						callback: pulldownRefresh
					},
					up: {
						contentrefresh: '正在加载...',
						callback: pullupRefresh
					}
				}
			});
			
			///ajax请求时，方法
			//参数(药品名，通用名，规格，厂家，id)
			var storageFragment=function(name,name2,guige,pro,delid){
				var fragment = document.createDocumentFragment();
				var td10=document.createElement('div');
				td10.className="mui-col-xs-2";
				td10.innerHTML="药品名：";
				var td11=document.createElement('div');
				td11.className="mui-col-xs-4";
				var td11TxtNode=document.createTextNode(name);
				td11.appendChild(td11TxtNode);
				var td12=document.createElement('div');
				td12.className="mui-col-xs-2";
				td12.innerHTML="通用名：";
				var td13=document.createElement('div');
				td13.className="mui-col-xs-4";
				var td13TxtNode=document.createTextNode(name2);
				td13.appendChild(td13TxtNode);
				
				var row1Div=document.createElement('div');
				row1Div.className="mui-row";
				row1Div.appendChild(td10);
				row1Div.appendChild(td11);
				row1Div.appendChild(td12);
				row1Div.appendChild(td13);
				
				var td20=document.createElement('div');
				td20.className="mui-col-xs-2";
				td20.innerHTML="规格：";
				var td21=document.createElement('div');
				td21.className="mui-col-xs-4";
				var td21TxtNode=document.createTextNode(guige);
				td21.appendChild(td21TxtNode);
				var td22=document.createElement('div');
				td22.className="mui-col-xs-2";
				td22.innerHTML="厂家：";
				var td23=document.createElement('div');
				td23.className="mui-col-xs-4";
				var td23TxtNode=document.createTextNode(pro);
				td23.appendChild(td23TxtNode);
				
				var row2Div=document.createElement('div');
				row2Div.className="mui-row";
				row2Div.appendChild(td20);
				row2Div.appendChild(td21);
				row2Div.appendChild(td22);
				row2Div.appendChild(td23);
				
				var delI=document.createElement('span');
				delI.className="mui-badge mui-badge-primary padding-8";
				delI.innerHTML="添加";
				delDiv=document.createElement("div");
				delDiv.className="mui-col-xs-11 text-right color-grey";
				delDiv.id=delid;
				delDiv.appendChild(delI);
			 
				emDiv=document.createElement("div");
				emDiv.className="mui-col-xs-1 text-right";
				var row3Div=document.createElement('div');
				row3Div.appendChild(delDiv);
				row3Div.appendChild(emDiv);
				
				var paDiv=document.createElement('div');
				paDiv.className="mui-card";
				paDiv.appendChild(row1Div);
				paDiv.appendChild(row2Div);
				paDiv.appendChild(row3Div);
				fragment.appendChild(paDiv);
				return fragment;
				
							
			}
			
			/**
			 * 下拉刷新具体业务实现
			 */
			function pulldownRefresh() {
				setTimeout(function() {
					var table = document.body.querySelector('.mui-table-view1');
					table.insertBefore(storageFragment("博路定","博路定2","7mgx8","白云山制药","on_001"), table.firstChild);
					mui('#cdrugs_uprefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
				}, 1000);
			}
			
			/**
			 * 上拉加载具体业务实现
			 */
			function pullupRefresh() {
				
				setTimeout(function() {
					var table = document.body.querySelector('.mui-table-view1');
					table.appendChild(storageFragment("博路定3","博路定4","7mgx2","白云山制药","c_001"));
					mui('#cdrugs_uprefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
				}, 1000);

			}
	</script>
</html>